<% @users.each do |e| %>
  <p>
    <%= e.uid %>
    <%= e.pass %>
    <%= link_to '削除', user_path(e), method: :delete %>
    </p>
<% end %>

<table>
  <tr>

<p>
  <td><%= button_to '新規登録', new_user_path, {method: :get, class: "mybutton"} %></td>
</p>

<p>
  <td><%= button_to 'ログイン', top_main_path, {method: :get, class: "mybutton"}  %></td>
</p>

</tr>
</table>
