<%= form_for @user, url: {action: :create} do |f| %>
  <p><%= f.label :uid, 'ID' %> 
  <%= f.text_field :uid %> </p>
  <p>
  <%= f.label :password, 'パスワード' %> 
  <%= f.password_field :password %> 
  </p>
  <p>
  <%= f.label :password_confirmation, 'パスワード(確認)' %>
  <%= f.password_field :password_confirmation %>
  </p>
  <%= f.submit '登録する' %>
<% end %>