<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title>予約</title>
=======
    <title>CalendarApp</title>
>>>>>>> origin/master
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
<<<<<<< HEAD


  </body>
</html>
=======
  </body>
</html>
>>>>>>> origin/master
